.bi-buildings {
    font-size: 40px;
    color: #24e98d;
    margin-left: 5px;
}

<<<<<<< HEAD
=======

table,
th,
td {
    border: 1px solid black;
}

table {
    width: 100%;
    text-align: center;
}
>>>>>>> 4c65656225b0e680a0df8f3be7e98ba2ee56e59c
